home: /mnt/data/storage

fuse:
  mountPoint: /mnt/neutron

storage:
- name: baidu
  backend: baidu_disk
  config:
    AppID: xxxxx
    AppKey: xxxxx
    SecretKey: xxxxx
    SignKey: xxxxx
    PrefixPath: neutron
    RedirectUri: http://localhost:11808/baidu_pan

cache:
  enabled: true
  cacheDir: /tmp/.caches/neutron
  maxSizeMB: 512
  evictionPolicy: LRU
web:
  port: 8080
  html: ./www
  prefix: /

users:
  passwordsFile: ./etc/passwords.txt