home: .

fuse:
  mountPoint: /mnt/neutron

storage:
- name: baidu
  backend: baidu_disk
  config:
    AppID: xxxxx
    AppKey: xxxxx
    SecretKey: xxxxx
    SignKey: xxxxx
    PrefixPath: neutron
    RedirectUri: http://localhost:11808/baidu_pan

cache:
  enabled: true
  cacheDir: vars/.caches/neutron
  maxSizeMB: 512
  evictionPolicy: LRU

driver:
  type: sqlite
  sqlite: vars/metadata.db

filesystem:
  local: 
    root: /workspaces/neutron
    qps: 50  # 每秒扫描50个文件
    excludes:
      - ".git"
      - ".cache"
      - "node_modules"


discoverClient:
  websocketURL: ws://192.168.1.115:8080/ws
  storageServerID: home
  password: aproton@2026

web:
  port: 8080
  html: ./www
  prefix: /

users:
  passwordsFile: ./etc/passwords.txt