ANDROID_KEYSTORE_PASSWORD=your_secure_password_here
ANDROID_KEY_ALIAS=your_alias_here
ANDROID_KEY_PASSWORD=your_key_password_here


VITE_AMAP_KEY=your_amap_key
VITE_AMAP_SECURITY_CODE=your_amap_secret_code